{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'portal/dashboard.css' %}"/>
<script src="http://panama.yellowfin.bi:8075/JsAPI" type="text/javascript"></script>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark" id="topNavBar">
  <a class="navbar-brand" href="#">
    <img src="{% static 'portal/images/truck_logo.svg' %}" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://university.yellowfinbi.com/" target="_blank">Universtiy</a>
          <a class="dropdown-item" href="http://wiki.yellowfin.com.au/display/USER74/Home" target="_blank">Wiki</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://community.yellowfinbi.com/" target="_blank" >Community</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-light sidebar">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" id="sideLinks" href="../home">My Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="../iframe">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="/admin">Analytics Admin</a>
            </li>
          </ul>

<!--           <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">Nav item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">Another nav item</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sideLinks" href="#">Another nav item</a>
            </li>
          </ul> -->
        </nav>
  </div>
</div>


	<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

      <div class="row" style="max-width: 1570px; margin-top: 15px; margin-left: 15px">
        <h6 class="col-4">Deployed Vehicles</h6>
        <h6 class="col-4">Vehicles Requiring Service</h6>
        <h6 class="col-4">Vehicle Under Repair</h6>
      </div>
      <section class="row" style="max-width: 1570px">
        <div class="col-4">
          <div class="card" id="dialNo1Container" style="min-height: 200px; max-height: 200px;">
            <div id="dialNo1" style="max-height: 200px; min-height: 200px;">
              <script type="text/javascript">
                  var dial1Options = {};
                  dial1Options.reportUUID = '4a19dba6-30f6-4832-a341-2ee730c6956f';
                  dial1Options.elementId = 'dialNo1';
                  dial1Options.showTitle = 'false';
                  dial1Options.username = 'tom.linton@yellowfin.bi';
                  dial1Options.password = 'test';
                  yellowfin.loadReport(dial1Options);
              </script>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" id="dialNo2Container" style="max-height: 200px; min-height: 200px;">
            <div id="dialNo2" style="max-height: 200px; min-height: 200px;">
              <script type="text/javascript">
                  var dial2Options = {};
                  dial2Options.reportUUID = 'b84d6463-a1dc-471d-9df0-103815bab5e7';
                  dial2Options.elementId = 'dialNo2';
                  dial2Options.showTitle = 'false';
                  dial2Options.username = 'tom.linton@yellowfin.bi';
                  dial2Options.password = 'test';
                  yellowfin.loadReport(dial2Options);
              </script>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" id="dialNo3Container" style="max-height: 200px; min-height: 200px;">
            <div id="dialNo3" style="max-height: 200px; min-height: 200px;">
              <script type="text/javascript">
                  var dial3Options = {};
                  dial3Options.reportUUID = 'a02e7b80-c28d-4897-92d6-9c1e8e032026';
                  dial3Options.elementId = 'dialNo3';
                  dial3Options.showTitle = 'false';
                  dial3Options.username = 'tom.linton@yellowfin.bi';
                  dial3Options.password = 'test';
                  yellowfin.loadReport(dial3Options);
              </script>
            </div>
          </div>
        </div>
      </section>
			<div class="row" style="max-width: 1570px; margin-top: 15px; margin-left: 15px">
				<h6 class="col-7">Shipment Counts</h6>
				<h6 class="col-5">Vehicles Retired vs Purchased</h6>
			</div>
			<section class="row" style="max-width: 1570px">
				<div class="col-7">
					<div class="card" id="tableChart" style="min-height: 270px; max-height: 270px;">
            <div id="tableChartDiv">
		        		<script type="text/javascript">
			        		var tableChartOptions = {};
			        		tableChartOptions.reportUUID = 'd267b49e-bc4e-4731-97bb-fa96a6176326';
    							tableChartOptions.elementId = 'tableChartDiv';
    							tableChartOptions.showTitle = 'false';
    							tableChartOptions.username = 'tom.linton@yellowfin.bi';
    							tableChartOptions.password = 'test';
    							yellowfin.loadReport(tableChartOptions);
		        		</script>
            </div>
					</div>
				</div>
				<div class="col-5">
					<div class="card" id="barChart" style="max-height: 270px; min-height: 270px;">
		        		<script type="text/javascript">
			        		var barChartOptions = {};
			        		barChartOptions.reportUUID = '321d8484-f32d-432c-a8dd-a28b933b9252';
    							barChartOptions.elementId = 'barChart';
    							barChartOptions.showTitle = 'false';
    							barChartOptions.username = 'tom.linton@yellowfin.bi';
    							barChartOptions.password = 'test';
    							yellowfin.loadReport(barChartOptions);
		        		</script>
					</div>
				</div>
			</section>
			<h6 class="row" style="margin-top: 15px; margin-left: 15px"">Fleet Maintenance Over Time</h6>
			<section class="row" style="max-width: 1570px">
				<div class="col-12">
					<div class="card" id="largeAreaChart" style="max-height: 400px; min-height: 300px;"">
		        		<script type="text/javascript">
			        		var areaChartOptions = {};
			        		areaChartOptions.reportUUID = '900b456e-35dd-4a8d-aaf8-2103674a0d8f';
    							areaChartOptions.elementId = 'largeAreaChart';
    							areaChartOptions.showTitle = 'false';
    							areaChartOptions.username = 'tom.linton@yellowfin.bi';
    							areaChartOptions.password = 'test';
    							yellowfin.loadReport(areaChartOptions);
		        		</script>
					</div>
				</div>
			</section>

	</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>