body {
  background: white url("images/background.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#formBox {
	border: 2px solid #d3d3d3;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(255,255,255,0.7);
    
    max-width:300px;
}

img {
	height:auto;
	width:200px;
	margin-top: 25px;
}
